<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-cog fa-fw "></i>
      <%= 'System' %>
        <span>&gt;
          <%%=  link_to "List of <%= singular_table_name %>", <%= prefixed_index_helper %>_path, 'data-turbolinks-track' => false %>
        </span>
    </h1>
  </div>
</div>
<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-darken" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
      <header role="heading">
        <span class="widget-icon">
          <i class="fa fa-edit"></i>
        </span>
        <h2>Editing <%= singular_table_name %></h2>
      </header>

      <!-- widget div-->
      <div role="content">
        <!-- widget content -->
        <div class="widget-body">
          <%%= render 'form' %>
        </div>
        <!-- end widget content -->
      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->
  </article>
</div>